<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LZNavigationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>914798DD1D3DBF5000D0A0F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914798F91D3DBF5000D0A0F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914799041D3DBF5000D0A0F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
